<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>		
    </head>
    <body style="background-image: url('https://www.agendaincolombia.com/wp-content/uploads/job-manager-uploads/gallery_images/2019/03/johnny-cay-islote-sucre-san-andr%C3%A9s.jpg');">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
