{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper" style="opacity: 0.95;">
        <div class="container">
		  <br><br>
		  <form name="form" method="POST" action="/home">
		  <input type="hidden" name="guardarHotel" value="1">
		  <div class="panel panel-default">
			  <div class="panel-heading"><h1>HOTELES DECAMERON</h1></div>
			  <div class="panel-body">
				  <div class="row margen">
					<div class="col-sm-2">
					 * Nombre
					</div>
					<div class="col-sm-4">
					  <input type="text" name="valorNombre" placeholder="Nombre" class="form-control" required>
					</div>
				  </div>
				  <div class="row margen">
					<div class="col-sm-2">
					 * Dirección
					</div>
					<div class="col-sm-4">
					  <input type="text" name="valorDir" placeholder="Dirección" class="form-control" required>
					</div>
				  </div>
				  <div class="row margen">
					<div class="col-sm-2">
					 Ciudad
					</div>
					<div class="col-sm-4"> 
					  <select name="valorCiudad" class="form-control">
					   <option value="Cartagena">Cartagena</option>
					   <option value="BARU">Barú</option>
					   <option value="Santa Marta">Santa Marta</option>
					  </select>
					</div>
				  </div>
				  <div class="row margen">
					<div class="col-sm-2">
					 * NIT
					</div>
					<div class="col-sm-4">
					  <input type="text" name="valorNit" placeholder="NIT" class="form-control" required>
					</div>
				  </div>
				  <div class="row margen">
					<div class="col-sm-2">
					 # habitaciones
					</div>
					<div class="col-sm-4">
					  <select name="valorHabitaciones" class="form-control">
					   <option value="1">1</option>
					   <option value="2">2</option>
					   <option value="3">3</option>
					   <option value="10">10</option>
					   <option value="20">20</option>
					   <option value="30">30</option>
					  </select>
					</div>
				  </div>
				  <div class="row margen">
					<div class="col-sm-2">
					</div>
					<div class="col-sm-4">
					  <input type="submit" value="Guardar" class="btn btn-success pull-right">
					</div>
				  </div>
				  
				  <div class="row margen">
					<div class="col-sm-12">
						<table class="table">
						  <thead>
							<tr>
							  <th scope="col">Id</th>
							  <th scope="col">Hotel</th>
							  <th scope="col">Dirección</th>
							  <th scope="col"># habitaciones</th>
							  <th scope="col">Ciudad</th>
							  <th scope="col">NIT</th>
							</tr>
						  </thead>
						  <tbody>
						    {% for hotel in listHotel %}
								<tr>
								  <th scope="row"><a href="/place?hotel={{ hotel.id }}&name={{ hotel.nombre }}" class="linkId">{{ hotel.id }}</a></th>
								  <td>{{ hotel.nombre }}</td>
								  <td>{{ hotel.direccion }}</td>
								  <td>{{ hotel.habitaciones }}</td>
								  <td>{{ hotel.ciudad }}</td>
								  <td>{{ hotel.nit }}</td>
								</tr>
							{% endfor %}
						  </tbody>
						</table>					 
					</div>
				  </div>
			  
			  </div>
		  </div>
		  </form>		  
		</div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
.margen
{
margin-top:10px;
}

.body
{
background-image: url("https://www.agendaincolombia.com/wp-content/uploads/job-manager-uploads/gallery_images/2019/03/johnny-cay-islote-sucre-san-andr%C3%A9s.jpg");
}
.linkId
{
text-decoration:underline;color:red;
}
</style>
{% endblock %}
