{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper" style="opacity: 0.95;">
        <div class="container">
		  <br><br>
		  <form name="form" method="POST" action="/place?hotel={{valorId}}&name={{valorNombre}}" onsubmit="return validarGuardado()">
		  <input type="hidden" name="guardarHotelSede" value="1">
		  <div class="panel panel-default" >
			  <div class="panel-heading">
			  <h1>Clasificación habitaciones</h1>
			  </div>
			  <div class="panel-body">
				  <div class="row margen">
					<div class="col-sm-2">
					 * Hotel
					</div>
					<div class="col-sm-4">
					  <b>{{valorNombre}}</b>
					</div>
				  </div>
			  
				  <div class="row margen">
					<div class="col-sm-2">
					 * Tipo
					</div>
					<div class="col-sm-4">
					  <select name="valorTipo" id="valorTipo" class="form-control" required>
					   <option value="">Selecciona</option>
					   <option value="ESTANDAR">ESTANDAR</option>
					   <option value="JUNIOR">JUNIOR</option>
					   <option value="SUITE">SUITE</option>
					  </select>
					</div>
				  </div>
				  <div class="row margen">
					<div class="col-sm-2">
					 * Acomodación
					</div>
					<div class="col-sm-4">
					  <select name="valorAcomodacion" id="valorAcomodacion" class="form-control" required>
					   <option value="">Selecciona</option>
					   <option value="SENCILLA">SENCILLA</option>
					   <option value="DOBLE">DOBLE</option>
					   <option value="TRIPLE">TRIPLE</option>
					   <option value="CUADRUPLE">CUADRUPLE</option>
					  </select>
					</div>
				  </div>
				  <div class="row margen">
					<div class="col-sm-2">
					 * Cantidad
					</div>
					<div class="col-sm-4">
					  <input type="number" name="valorCantidad" placeholder="Cantidad" class="form-control" required min="0" data-bind="value:replyNumber">
					</div>
				  </div>
				  
				  <div class="row margen">
					<div class="col-sm-2">
					  <a href="/home" class="btn btn-danger">Regresar</a>
					</div>
					<div class="col-sm-4">
					  <input type="submit" value="Guardar" class="btn btn-success pull-right">
					</div>
				  </div>
				  
				  <div class="row margen">
					<div class="col-sm-12">
						<table class="table">
						  <thead>
							<tr>
							  <th scope="col">Id</th>
							  <th scope="col">Tipo</th>
							  <th scope="col">Acomodación</th>
							  <th scope="col">Cantidad</th>
							</tr>
						  </thead>
						  <tbody>
						    {% set totalHabitaciones = 0 %}
						    {% for sede in listSede %}
								<tr>
								  <th scope="row">{{ sede.id }}</th>
								  <td>{{ sede.tipo }}</td>
								  <td>{{ sede.acomodacion }}</td>
								  <td>{{ sede.cantidad }}</td>
								</tr>
								{% set totalHabitaciones = totalHabitaciones + sede.cantidad %}
							{% endfor %}
						  </tbody>
						</table>
						<br><br>
						Total habitaciones: {{totalHabitaciones}}		
					</div>
				  </div>
			  
			  </div>
		  </div>
		  </form>		  
		</div>
    </div>
	
	<script>
	/*
	validarGuardado
	*/
    function validarGuardado()
	{
	 var valorTipo=$("#valorTipo option:selected").text();
	 var valorAcomodacion=$("#valorAcomodacion option:selected").text();
	 
	 if(valorTipo=="ESTANDAR")
	  {
	    if(valorAcomodacion!="SENCILLA"  && valorAcomodacion!="DOBLE")
		 {
		   alert("Para Tipo ESTANDAR la acomodación debe ser SENCILLA o DOBLE");
		   return false;
		 }
	  }
	 
	 if(valorTipo=="JUNIOR")
	  {
	    if(valorAcomodacion!="TRIPLE"  && valorAcomodacion!="CUADRUPLE")
		 {
		   alert("Para Tipo JUNIOR la acomodación debe ser TRIPLE o CUADRUPLE");
		   return false;
		 }
	  }
	 
	 if(valorTipo=="SUITE")
	  {
	    if(valorAcomodacion!="SENCILLA"  && valorAcomodacion!="DOBLE" && valorAcomodacion!="TRIPLE")
		 {
		   alert("Para Tipo SUITE la acomodación debe ser SENCILLA,TRIPLE o DOBLE");
		   return false;
		 }
	  }
	 
	 return true;
	}	
	</script>
{% endblock %}

{% block stylesheets %}
<style>
.margen
{
margin-top:10px;
}

.body
{
background-image: url("https://www.agendaincolombia.com/wp-content/uploads/job-manager-uploads/gallery_images/2019/03/johnny-cay-islote-sucre-san-andr%C3%A9s.jpg");
}
</style>
{% endblock %}
